
.sessions {
	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.edit_session {

	flex-grow: 2;
	margin: auto;
		width: 50vw;
		height: 100%;
/*	min-width: 60vh;
	min-height: 60vh;*/
/*	height: 100%;*/
}
.viewbox {
/*		width: 40vh;
	height: 40vh;*/
}
.toolbar {
	background-color: #80727B;
	
	width: 100%;
	margin:0px;
	padding:0px;
}

.toolbar.mid {
	display:flex;
	justify-content: center;
	flex-direction: row;
	flex-basis: content;
}

.toolbar button {
	border-radius: 10px;
	font-size: 3vw;
	width: 6vw;
	height: 6vw;
	background-position: center;
	background-repeat: no-repeat;
	margin:0.5vh;
}

/*button .selected {

}

.viewbox {
	display: flex;
			align-content: center;
	justify-content: center;
		background-color: #BBACC1;
		margin-top: 0px;
			border-top-left-radius:0;
	border-top-right-radius:0;
	
}

.clear {
	align-self: right;
}






	path {
		stroke: black;
		stroke-width : 2px;
		fill: none;
	  stroke-dasharray: 4px;
  stroke-dashoffset: 8px;
  animation: stroke-dashoffset 20s linear ;
}
*/